.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("TangOrChips_1.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 317px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 317px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-1 {margin: 0}
.u-section-1 .u-line-1 {width: 456px; height: 3px; margin: 3px auto 0 0}
.u-section-1 .u-text-2 {margin: 14px 0 0}
.u-section-1 .u-btn-1 {background-image: none; border-style: none; margin: 20px auto 0 0; padding: 9px 49px 11px 48px}
.u-section-1 .u-btn-2 {background-image: none; border-style: none; margin: 20px auto 0 0; padding: 9px 49px 11px 48px} 

@media (max-width: 1199px){ .u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 261px}
.u-section-1 .u-layout-cell-2 {min-height: 261px}
.u-section-1 .u-line-1 {width: 410px}
.u-section-1 .u-btn-2 {width: 173px; height: 45px} }

@media (max-width: 991px){ .u-section-1 .u-layout-wrap-1 {margin-top: 142px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 200px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-line-1 {width: 300px} }

@media (max-width: 767px){ .u-section-1 .u-layout-wrap-1 {margin-top: 71px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 300px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-layout-wrap-1 {margin-top: 52px; margin-bottom: 52px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 189px} }